{{!-- Homepage Showcase 2019.05.27--}}

{{!-- slick: css udpdate --}}


<section class="section showcase" id="showcase">
    <div class="columns mb-0 pb-0">
        <div class="column is-hidden-touch is-1-desktop is-1-widescreen is-2-fullhd mb-0 pb-0"></div>
        <div class="column is-12-tablet is-10-desktop is-10-widescreen is-8-fullhd mb-0 pb-0">
            <div class="columns mb-0 pb-0">
                {{!-- carousel start--}}



                <div class="column is-7 mb-0 pb-0">
                {{#get "posts" limit="6" include="tags,authors" filter="tags:[hash-carousel]" as |carousel|}}
                    <script>
                              sessionStorage.setItem("sliderItems", {{ posts.length }});
                    </script>                    
                    <div class="glide">
                        <div class="glide__track" data-glide-el="track">
                            <ul class="glide__slides">
                                {{#foreach carousel}}
                                <li class="glide__slide">                                    
                                                                        
                                    <a href="{{url}}" >                                                                                
                                        <img src="https://cdn.magnushelander.se{{img_url feature_image size=" large"}}" alt="{{feature_image_alt}}">                                        
                                    <div class="slide-txt has-text-white has-text-weight-bold has-text-shadow-black">                                
                                        {{title}}                                                                            
                                    </div>   
                                    </a>                                                                                                                                                
                                </li>
                                {{/foreach}}                
                            </ul>
                        </div>
                        <div id="glideButtons" class="glide__bullets" data-glide-el="controls[nav]"></div>
                    </div>
                {{/get}}
                </div>

                {{!-- carousel end --}}

                <script type="text/javascript">
                    // Create Button for each slide            
                    for (let i = 0; i < sessionStorage.getItem("sliderItems"); i++) {
                        var buttonWrapper = document.createElement('button');
                        buttonWrapper.className = "glide__bullet";
                        buttonWrapper.setAttribute("data-glide-dir", "=" + i);
                        document.getElementById("glideButtons").appendChild(buttonWrapper);
                    }           
                </script>


                {{!-- top-featured start --}}
                <div class="column is-5 mb-0 pb-0">
                    {{#get "posts" limit="2" include="tags" filter="featured:true" as |top-featured|}}
                    <div class="top-featured">
                        {{#top-featured}}
                        <div class="tf-item img-bg box has-shadow-lift can-scale"
                            style="background-image: url(https://cdn.magnushelander.se{{img_url feature_image size="
                            medium"}});background-position: center center;background-repeat: no-repeat;background-size:
                            cover;">

                            <a href="{{url}}" rel="bookmark" class="link-block"></a>
                            <div class="tf-meta bg-grad-b">
                                <a href="{{url}}" rel="bookmark" class="link-block"></a>

                                {{#primary_tag}}
                                <div class="tf-tag">
                                    <a href="{{url}}" class="is-montserrat">{{name}}</a>
                                </div>
                                {{/primary_tag}}


                                <a href="{{url}}">
                                    <h2 class="is-size-5 has-text-white has-text-weight-semibold has-text-shadow-black">
                                        {{title}}</h2>
                                </a>
                            </div>
                        </div>
                        {{/top-featured}}
                    </div>
                    {{/get}}
                </div>
                <div class="column is-hidden-touch"></div>
                {{!-- top-featured end test --}}
            </div>
        </div>

        <div class="column is-hidden-touch"></div>
    </div>
</section>