<!DOCTYPE html>
<html lang="{{@site.locale}}" class="has-spaced-navbar-fixed-top">

<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    
    {{!-- This tag outputs SEO meta + structured data and Code injections in Site Header--}}
    {{ghost_head}}

    {{!-- main css --}}
    <link rel="stylesheet" type="text/css" href="{{asset 'css/main.css'}}" />

    {{!-- Google Fonts--}}
    <link href="https://fonts.googleapis.com/css?family=Montserrat:400,600,700&display=swap" rel="stylesheet">


    {{!-- Bulma v0.7.5 --}}
    <link href="https://cdnjs.cloudflare.com/ajax/libs/bulma/0.9.4/css/bulma.min.css" rel="stylesheet">
   
    {{!-- Prismjs: css--}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />

    {{!-- YouTube light embed: js--}}
    <script type="text/javascript" src="{{asset "js/light-yt.js"}}"></script>

</head>

<body class="has-background-light-line"  >

    {{!-- header --}}
    {{> header}}

    {{!-- body --}}
    {{{body}}}

    {{!-- foot --}}
    {{> footer}}

    {{!-- ghost-search --}}
    <script src="https://cdn.jsdelivr.net/npm/@tryghost/content-api@1.11.4/umd/content-api.min.js"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.6.1/jquery.min.js"  ></script>
	
    <script type="text/javascript" src="{{asset "js/ghost-search.min.js"}}"></script>
    <script type="text/javascript">
        let ghostSearch = new GhostSearch({
            key: search_key, // set var search_key in Site Header
            host: search_url, // set var search_url in Site Header
            input:   '#search-input',
            results: '#search-results',
            options: {
                limit: 10
            },
            template: function(result) {
                let url = [location.protocol, '//', location.host].join('');
                return '<a class="navbar-item" href="' + url + '/' + result.slug + '/">' + result.title + '</a>';  
            },
            on: {
                afterDisplay: function(results){
                    if (results.total == 0 && document.getElementById('search-input').value != '') {
                        let resultsElement = document.getElementById('search-results');
                        let e = document.createElement('p');
                        e.innerHTML = "<a class='navbar-item'>{{t 'No results'}}</a>";
                        resultsElement.appendChild(e.firstChild);
                    };
                }
            }
        })
    </script>

    {{!-- This tag outputs Code injections in Site Footer--}}
    {{ghost_foot}}

    {{!-- gallery popup DISABLED --}}
    {{!-- <script src="{{asset 'js/popup.min.js'}}"></script> --}}
    
    {{!-- import js --}}
    <script src="{{asset 'js/main.js'}}"></script>


    {{!-- carousel: js  on homepage --}}
    {{#is "home"}}

    <script src="https://cdnjs.cloudflare.com/ajax/libs/slick-carousel/1.9.0/slick.min.js" ></script>
    <script>
        $(document).ready(function(){
            $('#carousel-home').slick({
                autoplay: true,
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplaySpeed: 1500,
                arrows:false,
                dots: true,
                centerMode: false,
                focusOnSelect: false,
		fade: true,
		fadeSpeed: 1000
            });
        });      
    </script>
    {{/is}}
    


</body>
</html>