<!DOCTYPE html>
<html lang="{{@site.locale}}" class="has-spaced-navbar-fixed-top">

<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" >
    <meta http-equiv="X-UA-Compatible" content="IE=edge" >
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link rel="preconnect" href="https://cdn.magnushelander.se">

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" >
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" >
    
    {{!-- This tag outputs SEO meta + structured data and Code injections in Site Header--}}
    {{ghost_head}}

    {{!-- Fizzy theme - main css --}}
    <link rel="stylesheet" type="text/css" href="{{asset 'built/main.css'}}" >
    <link rel="stylesheet" type="text/css" href="{{asset 'built/custom.css'}}" >
    <link rel="stylesheet" type="text/css" href="{{asset 'built/class.css'}}" >    
    <link rel="stylesheet" type="text/css" href="{{asset 'built/iconfont.css'}}" >    
    

    {{!-- Google Fonts from Bunny --}}
    <link href="https://fonts.bunny.net/css?family=montserrat:400,600,700" rel="stylesheet" >
    
    {{!-- Prismjs: css--}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/prism.css"}}" >

    {{!-- Bulma: css--}}
    <link rel="stylesheet" type="text/css" href="{{asset "built/bulma.min.css"}}" >

    {{!-- YouTube light embed: js--}}
    <script type="text/javascript" src="{{asset "built/light-yt.js"}}"></script>

    {{!-- Slider on homepage --}}

    {{#is "home"}}
    <link rel="stylesheet" href="{{asset "built/glide.core.min.css"}}">
    <link rel="stylesheet" href="{{asset "built/glide.theme.css"}}">
    {{/is}}

</head>

<body class="has-background-light-line"  >

    {{!-- header --}}
    {{> header}}

    {{!-- body --}}
    {{{body}}}

    {{!-- foot --}}
    {{> footer}}

    {{!-- ghost-search --}}
    <script src="https://cdn.jsdelivr.net/npm/@tryghost/content-api@1.11.4/umd/content-api.min.js"></script>
    <script src="{{asset 'built/searchinghost.min.js'}}"></script>

    <script>
        var searchinGhost = new SearchinGhost({
            key: search_key,
            postsFields: ['title', 'url', 'published_at'],
            postsFormats: ['plaintext'],
            indexedFields: ['title', 'excerpt'],
            template: function(post) {
                return `<a href="${post.url}">${post.title}<br><div id="search-results-date" class="is-uppercase is-size-7">${post.published_at}</div></a>`
            }
        });
    </script>


    {{!-- This tag outputs Code injections in Site Footer--}}
    {{ghost_foot}}
    
    {{!-- import js --}}
    <script src="{{asset "built/jquery-3.7.0.min.js"}}"  ></script>
 
    <script src="{{asset 'built/main.js'}}"></script>
    

    {{!-- carousel: js only on homepage --}}
    {{#is "home"}}

    <script src="{{asset "built/glide.min.js"}}" ></script>   
    <script>
        
        window.addEventListener('load', function(){
        new Glide('.glide', {
        type: 'carousel',
        startAt: 0,
        perView: 1,
        autoplay: 0,
        hoverpause: true,
        }).mount();
        })

    </script>

    {{/is}}
    

</body>
</html>