<!DOCTYPE html>
<html lang="{{@site.locale}}" class="has-spaced-navbar-fixed-top">

<head>
    {{!-- Document Settings --}}
    <meta charset="utf-8" />
    <meta http-equiv="X-UA-Compatible" content="IE=edge" />
    <link rel="preconnect" href="https://fonts.bunny.net">
    <link rel="preconnect" href="https://cdn.magnushelander.se">

    {{!-- Base Meta --}}
    <title>{{meta_title}}</title>
    <meta name="HandheldFriendly" content="True" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0, user-scalable=no">
    <meta name="apple-mobile-web-app-capable" content="yes" />
    
    {{!-- This tag outputs SEO meta + structured data and Code injections in Site Header--}}
    {{ghost_head}}

    {{!-- Fizzy theme - main css --}}
    <link rel="stylesheet" type="text/css" href="{{asset 'css/main.css'}}" />
    <link rel="stylesheet" type="text/css" href="{{asset 'css/custom.css'}}" />
    <link rel="stylesheet" type="text/css" href="{{asset 'css/class.css'}}" />    
    <link rel="stylesheet" type="text/css" href="{{asset 'css/iconfont.css'}}" />    
    

    {{!-- Google Fonts from Bunny --}}
    <link href="https://fonts.bunny.net/css?family=montserrat:400,600,700" rel="stylesheet" />
    
    {{!-- Prismjs: css--}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/prism.css"}}" />

    {{!-- Bulma: css--}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/bulma.min.css"}}" />

    {{!-- YouTube light embed: js--}}
    <script type="text/javascript" src="{{asset "js/light-yt.js"}}"></script>

</head>

<body class="has-background-light-line"  >

    {{!-- header --}}
    {{> header}}

    {{!-- body --}}
    {{{body}}}

    {{!-- foot --}}
    {{> footer}}

    {{!-- ghost-search --}}
    <script src="https://cdn.jsdelivr.net/npm/@tryghost/content-api@1.11.4/umd/content-api.min.js"></script>
    <script src="{{asset 'js/searchinghost.min.js'}}"></script>

    <script>
        var searchinGhost = new SearchinGhost({
            key: search_key,
            postsFields: ['title', 'url', 'published_at'],
            postsFormats: ['plaintext'],
            indexedFields: ['title', 'excerpt'],
            template: function(post) {
                return `<a href="${post.url}">${post.title}<br><div id="search-results-date" class="is-uppercase is-size-7">${post.published_at}</div></a>`
            }
        });
    </script>


    {{!-- This tag outputs Code injections in Site Footer--}}
    {{ghost_foot}}
    
    {{!-- import js --}}
    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.7.0/jquery.min.js"  ></script>
    <script src="{{asset 'js/main.js'}}"></script>
    

    {{!-- carousel: js only on homepage --}}
    {{#is "home"}}

    <script src="{{asset "js/slick.min.js"}}" ></script>
    <script>
        $(document).ready(function(){
            $('#carousel-home').slick({
                autoplay: true,
                infinite: true,
                slidesToShow: 1,
                slidesToScroll: 1,
                autoplaySpeed: 1500,
                arrows:false,
                dots: true,
                centerMode: false,
                focusOnSelect: false,
		fade: true,
		fadeSpeed: 1000
            });
        });      
    </script>
    {{/is}}
    


</body>
</html>